html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
body {
    min-width: 320px;
}
input, button {
    outline: none;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}
.header{
    background-color: #232323;
}
.header-top {
    background-color: #2b2b2b;
}
.header-user, .header-tel {
    padding: 5px 0;
}
.header-tel a {
    display: inline-block;
    color: #7f7f7f;
    font-size: 0.875rem;
    line-height: 1.85;
    font-weight: 300;
}
.header-tel:hover {
    text-decoration: underline;
}
.header-user {
    text-align: right;
}
.header-user a {
    color: #666666;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.85;
    font-weight: 400;
}
.header-user a:hover {
    text-decoration: underline;
}
.header-user span {
    margin: 0 10px;
    color: #3b3b3b;
    font-size: 0.75rem;
}

/*-------------------------------*/

.header-middle form {
    border: 1px solid #323232;
    float: right;
}
.header-logo {
    display: inline-block;
}
.header-logo, .header-middle form {
    margin: 30px 0 26px;
}
.col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}
.header-search::placeholder, .header-search {
    color: #666666;
    font-weight: 200;
    font-size: 0.8125rem;
    line-height: 1.85;
}
.header-search {
    width: 200px;
    color: white;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
}
.header-middle button {
    padding: 0;
    width: 54px;
    height: 44px;
    background: transparent url(../img/search.png) center center no-repeat;
    border: none;
}
.header-search, .header-middle button {
    display: inline-block;
    vertical-align: top;
}


/*---------------------*/

.header-nav li {
    display: inline-block;
}
.header-nav {
    padding-bottom: 30px;
}
.header-nav ul {
    padding: 0;
    list-style: none;
    margin-left: -20px;
}
.header-nav li+li {
    margin-left: 10px;
}
.header-nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 20px 20px;
}
.col-sm-10 {
    padding-left: 0;
}
.header-nav .active, .header-nav a:hover {
    color: #be926f;
}
@media (max-width: 992px) {
        .header-nav li {
            display: block;
        }
        .header-nav li + li {
            margin-left: 0;
            margin-top: 10px;
        }
}
.header-bag {
    background: url("../img/bag.png") center center no-repeat;
    width: 17px;
    height: 22px;
    float: right;
    padding: 10px;
    text-decoration: none;
}
.header-bag::before {
    content: '2';
    font-size: 0.75rem;
    width: 18px;
    height: 18px;
    color: #232323;
    line-height: 18px;
    text-align: center;
    background-color: #be926f;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -18px;
    right: -3px;
}
@media (max-width: 767px) {
    .header-tel {
        padding-bottom: 0;
    }
    .header-tel, .header-user, .header-logo {
        display: block;
        text-align: center;
    }
    .header-middle form {
        float: none;
        position: relative;
        margin: 0 auto;
    }
    .header-search {
        width: 90%;
    }
    .header-middle button {
        position: absolute;
        top: 0;
        right: 0;
    }
    .header-nav {
        padding-left: 10px;
        padding-top: 15px;
    }
    .header-middle-searchform {
        float: none;
        display: inline-block;
        width: 100%;
        margin: 0 auto;
    }
    .header-bag {
        float: none;
        display: block;
        margin: 0 auto;
    }
}